.navbar {
	height:44px;
}

.navbar .container a	{		
	color: #bababa;
	padding: 12px 15px;
	text-decoration: none;
}

.navbar .container a:hover	{
	color: white;
}

.navbar .container button	{	
     background:none;
     color: #bababa;
     border:none; 
     padding: 10px 15px;
     font: inherit;
     cursor: pointer;
     z-index: 1;
}

.navbar .container button:hover	{
	color: white;
}

.navbar .container button:focus {
	outline:0;
}

p {
	font-size: 1.3rem;
	font-weight: 300;
}


div.row {
	padding: 10px 0;
}

div.col-sm a {
	color: black;
	text-decoration: none;
}

.pubdate {
	margin-right: 10px;
	color:grey;
	font-style: italic;
}

span.pubdate {
	position: relative;
	top:3px;
}


.description p {
	margin: 20px 0;
}

.description a:hover {
	color: #595858;
}

hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(233, 236, 239, 0.3);
}

div.description span {
	margin-top: 5px;
	padding: 5px 10px;
	border: 1px black solid;
}

div.description span:hover {
	color: black;
	background-color: #e9ecef; 
}

.comments {
	margin-bottom: 100px;
}

img {
	max-width: 100%;
}

.article-img {
	margin: 20px 0;
	width: 100%;
}

.comments button {
	margin-top: 10px;
	z-index: 1;
}

.login-form {
	text-align: center;
	width: 30%;
	max-width: 350px;
	margin: 70px auto 0;
}

.sign-up {
	display: inline-block;
}

.sign-in {
	display: inline-block;
}

.register-form {
	text-align: center;
	width: 30%;
	max-width: 350px;
	margin: 70px auto 0;
}

textarea {
	resize: none;
}

.comment-form button {
	margin-bottom: 50px;
	z-index: 1;
}

.comment-box {
	width: 100%;
	padding: 20px;
	margin-bottom: 4px;
	background-color: #FFF;
	border-radius: 4px;
	position: relative;
}

.comment-box p {
	font-family: arial;
	font-size: 14px;
	line-height: 1.5rem;
	color: #282828;
	font-weight: 100;
}

.reply-box {
	margin-left: 20px;
	width: 100%;
	padding: 20px;
	margin-bottom: 4px;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.05);
	position: relative;
}

.edit-form {
	position: absolute;
	top: 15px;
	right: 75px;
}

.delete-form {
	position: absolute;
	top: 15px;
	right: 10px;
}

.reply-btn {
	position: absolute;
	top: 15px;
	right: 10px;
}

.reply-self-form {
	position: absolute;
	top: 15px;
	right: 125px;
}

.comment-section {
	margin-top: 80px;
}

.upload-form {
	width: 50%;
	margin: 50px auto;
}

.upload {
	float: right;
}

.img-desc {
	margin: 20px 0;
}

.card-deck .card {
	min-width: 31%;
	max-width: 31%;
	width: 31%;
	float: left;
	margin: 0 auto 30px;
	overflow: auto;
}

@media screen and (max-width: 992px){
	.card-deck .card {
	min-width: 95% !important;
	max-width: 95% !important;
	width: 95% !important;
	}
}

.user{
	background:none;
	color:white;
}

.card-footer {
	background-color: transparent;
	border: none;
}

.card-footer button {
	float: right;
	z-index: 1;
}

.img-title{
	margin-top: 10px;
}

.photo {
	padding:0 !important;
}

.delete-photo {
	height: 20px;
	position:relative; 
	float:right;
	z-index:1;
	margin-left: 10px;
}

.error-handler {
	margin: 16px auto;
	width: 30%;
	color: red;
}

.success-handler {
	position: relative;
	margin-top: 1rem;
	width: 100%;
	color: red;
	z-index: 1;
}

.success-handler div {
	text-align: center;
}

.jumbotron {
	margin-top: 1rem;
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: none;
}

.reply-form {
	position:relative;
	margin-top: 20px;
	margin-left: 50px;
}
